@inherits TodosRazor
<div class="widget" id="widget-" data-name="this.helper.label('home_my_todo_items')">
    <div class="panel_s todo-panel">
        <div class="panel-body padding-10">
            <div class="widget-dragger"></div>
            <p class="pull-left padding-5">
                this.helper.label("home_my_todo_items");
            </p>
            <a href=" admin_url('todo'); " class="pull-right padding-5">&nbsp;|&nbsp; helper.label('home_widget_view_all'); </a>
            <a href="#__todo" data-toggle="modal" class="pull-right padding-5" style="padding-right:0px;">
                helper.label('new_todo');
            </a>
            <div class="clearfix"></div>
            <hr class="hr-panel-heading-dashboard">
            total_todos = count(todos);
            <h4 class="todo-title text-warning"><i class="fa fa-warning"></i> helper.label('homehelper.labelatest_todos'); </h4>
            <ul class="list-unstyled todo unfinished-todos todos-sortable sortable">
                @foreach (var todo in todos)
                {
                    <li>
                        <div class="dragger todo-dragger"></div>
                        form_hidden('todo_order',todo['item_order']);
                        form_hidden('finished',0);
                        <div class="checkbox checkbox-default todo-checkbox">
                            <input type="checkbox" name="todo_id" value="@todo.Todoid">
                            <label></label>
                        </div>
                        <p class="todo-description" data-todo-description="@todo.Todoid">
                            @todo.Description
                            <a href="#" onclick="delete_todo_item(this, @todo.Todoid); return false;" class="pull-right text-muted">
                                <i class="fa fa-remove"></i>
                            </a>
                            <a href="#" onclick="edit_todo_item( @todo.Todoid); return false;" class="pull-right text-muted mright5">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </p>
                        <small class="todo-date"> todo['dateadded']; </small>
                    </li>
                }
                <li class="padding no-todos ui-state-disabled  if(total_todos > 0){'hide';} "> helper.label('home_nohelper.labelatest_todos'); </li>
            </ul>
            total_finished_todos = count(todos_finished);
            <h4 class="todo-title text-success"><i class="fa fa-check"></i> helper.label('homehelper.labelatest_finished_todos'); </h4>
            <ul class="list-unstyled todo finished-todos todos-sortable sortable">
                @foreach (var todo_finished in todos_finished)
                {
                    <li>
                        <div class="dragger todo-dragger"></div>
                        form_hidden('todo_order',todo_finished['item_order']);
                        form_hidden('finished',1);
                        <div class="checkbox checkbox-default todo-checkbox">
                            <input type="checkbox" value="@todo_finished.Todoid" name="todo_id" checked>
                            <label></label>
                        </div>
                        <p class="todo-description line-throught">
                            todo_finished['description'];
                            <a href="#" onclick="delete_todo_item(this, @todo_finished.Todoid); return false;" class="pull-right text-muted">
                                <i class="fa fa-remove"></i>
                            </a>
                            <a href="#" onclick="edit_todo_item(@todo_finished.Todoid); return false;" class="pull-right text-muted mright5">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </p>
                        <small class="todo-date todo-date-finished"> todo_finished['datefinished']; </small>
                    </li>
                }
                <li class="padding no-todos ui-state-disabled  if(total_finished_todos > 0){'hide';} "> helper.label('home_no_finished_todos_found'); </li>
            </ul>
        </div>
    </div>

    this->load->view('admin/todos/_todo.php');
</div>